src/main/mule/canvas-lms-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:canvas="http://www.mulesoft.org/schema/mule/canvas" xmlns:canvaslms="http://www.mulesoft.org/schema/mule/canvaslms" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/canvaslms http://www.mulesoft.org/schema/mule/canvaslms/current/mule-canvaslms.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/canvas http://www.mulesoft.org/schema/mule/canvas/current/mule-canvas.xsd">
    <flow name="canvas-lms-api-main">
        <http:listener config-ref="canvas-lms-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="canvas-lms-api-config" />
        <error-handler ref="Global-Error-Handler" />
    </flow>
    <flow name="canvas-lms-api-console">
        <http:listener config-ref="canvas-lms-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="canvas-lms-api-config" />
        <error-handler ref="Global-Error-Handler" />
    </flow>
    <flow name="put:\courses\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="9949cd55-f6b6-4c96-b99f-35c2b64c0dac" config-ref="canvas-lms-api-httpListenerConfig" path="/courses/{id}">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-courses-id doc:name="Course - Update a course" doc:id="5ef5ce9e-4b09-489c-9a4c-86e25975a925" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\sections\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-sections-id doc:name="Section - Edit a section" doc:id="97db6289-387c-4b2a-a0f4-31d7455913bd" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\users\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-users-id doc:name="User - Edit a user" doc:id="6a82d831-265a-4036-bab2-8290c37683f8" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\courses\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-courses-id doc:name="Course - Delete/Conclude a course" doc:id="2e185e35-bffa-4ad6-972d-f986ee55fe8e" config-ref="Canvas_Config" idUriParam="#[vars.id]" eventQueryParam="#[attributes.queryParams.event default &quot;conclude&quot;]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\sections\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-sections-id doc:name="Section - Delete a section" doc:id="4d938bf6-bf29-42dd-ab45-3ca718f1aae9" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\sections\(id)\crosslist:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-sections-id-crosslist doc:name="Section - De-cross-list a section" doc:id="ecccf39a-f939-4bc4-b4c5-5ce82bcb5036" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\users:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-users doc:name="User - List users in account" doc:id="5a6fc3bd-94d6-4ec9-a503-415a9736eb89" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\bulk_user_progress:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-bulk-user-progress doc:name="Course - Get bulk user progress" doc:id="15ca92e3-2289-4517-903b-f4bc59e604c3" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\search_users:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-search-users doc:name="Course - List users in course" doc:id="37c463b1-d290-4535-873d-c9ce2b4efed2" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\sections:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="e1674a6d-0e2f-4b2e-8199-f706f1b5bd68" config-ref="canvas-lms-api-httpListenerConfig" path="/courses/{course_id}/sections">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-sections doc:name="Section - List course sections" doc:id="07ac8da6-5851-4c22-be31-b01b71dd2a89" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\sections\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-sections-id doc:name="Section - Get section information" doc:id="9833b463-3630-4ee5-bb0e-8b697e1c9ebe" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\users\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-users-id doc:name="Course - Get single user" doc:id="e1d51fc0-faf8-4f90-9214-5c8c17764a52" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\users\(user_id)\progress:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-users-user-id-progress doc:name="Course - Get user progress" doc:id="99e09fef-2990-4679-8fc9-ae0297a3958e" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" userIdUriParam="#[vars.user_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-id doc:name="Course - Get a single course" doc:id="deb041f8-e414-4ae1-bc77-65862bc95445" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\self\upcoming_events:canvas-lms-api-config">
        <canvas:get-users-self-upcoming-events doc:name="User - List upcoming assignments, calendar events" doc:id="fcd6ed5a-1b24-49a5-b53f-67e78e90ceda" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-id doc:name="User - Show user details" doc:id="a8f9d602-8dc1-4cb0-8844-e98f017e0270" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(user_id)\courses:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="142aadf9-9ddb-4289-b95e-fe75b7831559" config-ref="canvas-lms-api-httpListenerConfig" path="/users/{user_id}/courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-courses doc:name="Course - List courses for a user" doc:id="4c593d63-7a66-4eae-8b75-d2e39855d2a1" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(user_id)\missing_submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-missing-submissions doc:name="User - List Missing Submissions" doc:id="816c58f4-b7b9-498d-9229-1a8cb19aa6a0" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" includeQueryParam="COURSE" filterQueryParam="SUBMITTABLE" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\courses:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-courses doc:name="Course - Create a new course" doc:id="c4731fd4-f0b6-44e8-93c9-f5bed5cab41f" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\users:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-users doc:name="User - Create a user" doc:id="7bbcf6fc-df5e-4db4-81cf-b657aa0b1f33" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\courses\(course_id)\sections:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-courses-course-id-sections doc:name="Section - Create course section" doc:id="480c38c7-5104-4432-aefa-7978ea660d2b" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\sections\(id)\crosslist\(new_course_id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="new_course_id">attributes.uriParams.'new_course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-sections-id-crosslist-new-course-id doc:name="Section - Cross-list a section" doc:id="0930fa2a-c9e4-4e4a-8353-719b06c2ef5c" config-ref="Canvas_Config" idUriParam="#[vars.id]" newCourseIdUriParam="#[vars.new_course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts:canvas-lms-api-config">
        <canvas:get-accounts doc:name="Account - List accounts" doc:id="5d038685-2f5f-40c2-acd6-36bc5835fd47" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\sub_accounts:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-sub-accounts doc:name="Account - Get the sub-accounts of an account" doc:id="b3ab7ef9-6190-45f8-bd78-ecb16dde00a5" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-id doc:name="Account - Get a single account" doc:id="db0c48a7-8c13-49f7-a72a-cfcac34a9d93" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="useflow" doc:id="808178ef-bcc9-4816-b734-b649724f78a9">
        <http:listener doc:name="Listener" doc:id="ba0a5746-0cda-42e4-8d0f-f4e336ef1c9b" config-ref="canvas-lms-api-httpListenerConfig" path="/v1/users/{user_id}/courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="1d8437fe-9a88-4293-ad1a-4298baf1bf1a">
            <ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-courses doc:name="Course - List courses for a user" doc:id="7fee2a99-f891-4cdb-9f7e-cd6faf78ee3d" config-ref="Canvas_Config" userIdUriParam="11806455&amp;&amp;5" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\accounts\(account_id)\logins\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  user_id: 2,
  account_id: 3,
  unique_id: "bieber@example.com",
  created_at: "2020-01-29T19:33:35Z",
  sis_user_id: "2",
  integration_id: "2",
  authentication_provider_id: null,
  workflow_state: "active",
  declared_user_type: "teacher"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\accounts\(account_id)\terms\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sis_term_id: "Sp2014",
  sis_import_id: 34,
  name: "Spring 2014",
  start_at: "2014-01-06T08:00:00-05:00",
  end_at: "2014-05-16T05:00:00-04:00",
  workflow_state: "active",
  overrides: {
    StudentEnrollment: {
      start_at: "2014-01-07T08:00:00-05:00",
      end_at: "2014-05-14T05:00:00-04:00"
    }
  },
  course_count: 80
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\courses\(course_id)\enrollments\(id)\reactivate:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  course_id: 1,
  sis_course_id: "SHEL93921",
  course_integration_id: "SHEL93921",
  course_section_id: 1,
  section_integration_id: "SHEL93921",
  sis_account_id: "SHEL93921",
  sis_section_id: "SHEL93921",
  sis_user_id: "SHEL93921",
  enrollment_state: "active",
  limit_privileges_to_course_section: true,
  sis_import_id: 83,
  root_account_id: 1,
  "type": "StudentEnrollment",
  user_id: 1,
  associated_user_id: null,
  role: "StudentEnrollment",
  role_id: 1,
  created_at: "2012-04-18T23:08:51Z",
  updated_at: "2012-04-18T23:08:51Z",
  start_at: "2012-04-18T23:08:51Z",
  end_at: "2012-04-18T23:08:51Z",
  last_activity_at: "2012-04-18T23:08:51Z",
  last_attended_at: "2012-04-18T23:08:51Z",
  total_activity_time: 260,
  html_url: "https://...",
  grades: {
    html_url: "https://...",
    current_score: 35,
    current_grade: null,
    final_score: 6.67,
    final_grade: null
  },
  user: {
    id: 3,
    name: "Student 1",
    sortable_name: "1, Student",
    short_name: "Stud 1"
  },
  override_grade: "A",
  override_score: 99.99,
  unposted_current_grade: "",
  unposted_final_grade: "",
  unposted_current_score: "",
  unposted_final_score: "",
  has_grading_periods: true,
  totals_for_all_grading_periods_option: true,
  current_grading_period_title: "Fall Grading Period",
  current_grading_period_id: 5,
  current_period_override_grade: "A",
  current_period_override_score: 99.99,
  current_period_unposted_current_score: 95.8,
  current_period_unposted_final_score: 85.25,
  current_period_unposted_current_grade: "A",
  current_period_unposted_final_grade: "B"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sis_term_id: "Sp2014",
  sis_import_id: 34,
  name: "Spring 2014",
  start_at: "2014-01-06T08:00:00-05:00",
  end_at: "2014-05-16T05:00:00-04:00",
  workflow_state: "active",
  overrides: {
    StudentEnrollment: {
      start_at: "2014-01-07T08:00:00-05:00",
      end_at: "2014-05-14T05:00:00-04:00"
    },
    TeacherEnrollment: {
      start_at: null,
      end_at: "2014-05-20T05:00:00-04:00"
    }
  },
  course_count: 80
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\courses\(course_id)\enrollments\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  course_id: 1,
  sis_course_id: "SHEL93921",
  course_integration_id: "SHEL93921",
  course_section_id: 1,
  section_integration_id: "SHEL93921",
  sis_account_id: "SHEL93921",
  sis_section_id: "SHEL93921",
  sis_user_id: "SHEL93921",
  enrollment_state: "active",
  limit_privileges_to_course_section: true,
  sis_import_id: 83,
  root_account_id: 1,
  "type": "StudentEnrollment",
  user_id: 1,
  associated_user_id: null,
  role: "StudentEnrollment",
  role_id: 1,
  created_at: "2012-04-18T23:08:51Z",
  updated_at: "2012-04-18T23:08:51Z",
  start_at: "2012-04-18T23:08:51Z",
  end_at: "2012-04-18T23:08:51Z",
  last_activity_at: "2012-04-18T23:08:51Z",
  last_attended_at: "2012-04-18T23:08:51Z",
  total_activity_time: 260,
  html_url: "https://...",
  grades: {
    html_url: "https://...",
    current_score: 35,
    current_grade: null,
    final_score: 6.67,
    final_grade: null
  },
  user: {
    id: 3,
    name: "Student 1",
    sortable_name: "1, Student",
    short_name: "Stud 1"
  },
  override_grade: "A",
  override_score: 99.99,
  unposted_current_grade: "",
  unposted_final_grade: "",
  unposted_current_score: "",
  unposted_final_score: "",
  has_grading_periods: true,
  totals_for_all_grading_periods_option: true,
  current_grading_period_title: "Fall Grading Period",
  current_grading_period_id: 5,
  current_period_override_grade: "A",
  current_period_override_score: 99.99,
  current_period_unposted_current_score: 95.8,
  current_period_unposted_final_score: 85.25,
  current_period_unposted_current_grade: "A",
  current_period_unposted_final_grade: "B"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users\(user_id)\logins\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  unique_id: "bieber@example.com",
  sis_user_id: null,
  account_id: 1,
  id: 12345,
  user_id: 2
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\terms\(termId):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sis_term_id: "Sp2014",
  sis_import_id: 34,
  name: "Spring 2014",
  start_at: "2014-01-06T08:00:00-05:00",
  end_at: "2014-05-16T05:00:00-04:00",
  workflow_state: "active",
  overrides: {
    StudentEnrollment: {
      start_at: "2014-01-07T08:00:00-05:00",
      end_at: "2014-05-14T05:00:00-04:00"
    },
    TeacherEnrollment: {
      start_at: null,
      end_at: "2014-05-20T05:00:00-04:00"
    }
  },
  course_count: 80
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\courses:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 370663,
  sis_course_id: null,
  uuid: "WvAHhY5FINzq5IyRIJybGeiXyFkG3SqHUPb7jZY5",
  integration_id: null,
  sis_import_id: 34,
  name: "InstructureCon 2012",
  course_code: "INSTCON12",
  original_name: "InstructureCon-2012-01",
  workflow_state: "available",
  account_id: 81259,
  root_account_id: 81259,
  enrollment_term_id: 34,
  grading_periods: null,
  grading_standard_id: 25,
  grade_passback_setting: "nightly_sync",
  created_at: "2012-05-01T00:00:00-06:00",
  start_at: "2012-06-01T00:00:00-06:00",
  end_at: "2012-09-01T00:00:00-06:00",
  locale: "en",
  enrollments: null,
  total_students: 32,
  calendar: null,
  default_view: "feed",
  syllabus_body: "<p>syllabus html goes here</p>",
  needs_grading_count: 17,
  term: null,
  course_progress: null,
  apply_assignment_group_weights: true,
  permissions: {
    create_discussion_topic: true,
    create_announcement: true
  },
  is_public: true,
  is_public_to_auth_users: true,
  public_syllabus: true,
  public_syllabus_to_auth: true,
  public_description: "Come one, come all to InstructureCon 2012!",
  storage_quota_mb: 5,
  storage_quota_used_mb: 5,
  hide_final_grades: false,
  license: "Creative Commons",
  allow_student_assignment_edits: false,
  allow_wiki_comments: false,
  allow_student_forum_attachments: false,
  open_enrollment: true,
  self_enrollment: false,
  restrict_enrollments_to_course_dates: false,
  course_format: "online",
  access_restricted_by_date: false,
  time_zone: "America/Denver",
  blueprint: true,
  blueprint_restrictions: {
    content: true,
    points: true,
    due_dates: false,
    availability_dates: false
  },
  blueprint_restrictions_by_object_type: {
    assignment: {
      content: true,
      points: true
    },
    wiki_page: {
      content: true
    }
  },
  template: true
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\enrollments\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 120507116,
  user_id: 118064555,
  course_id: 12635863,
  section_id: 11949585,
  "type": "StudentEnrollment",
  role: "student",
  enrollment_state: "active",
  created_at: "2025-08-30T12:00:00Z",
  updated_at: "2025-08-31T14:00:00Z",
  last_activity_at: "2025-08-31T15:00:00Z",
  limit_privileges_to_course_section: false,
  sis_account_id: "abc123",
  sis_course_id: "course_sis_789",
  sis_section_id: "section_sis_456",
  sis_user_id: "user_sis_101"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\roles:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  label: "New Role",
  role: "New Role",
  base_role_type: "AccountMembership",
  is_account_role: true,
  account: {
    id: 1019,
    name: "CGNU",
    parent_account_id: 73,
    root_account_id: 1,
    sis_account_id: "cgnu"
  },
  workflow_state: "active",
  created_at: "2020-12-01T16:20:00-06:00",
  last_updated_at: "2023-10-31T23:59:00-06:00",
  permissions: {
    read_reports: {
      enabled: true,
      locked: false,
      readonly: false,
      explicit: false
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\roles\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  label: "New Role",
  role: "New Role",
  base_role_type: "AccountMembership",
  is_account_role: true,
  account: {
    id: 1019,
    name: "CGNU",
    parent_account_id: 73,
    root_account_id: 1,
    sis_account_id: "cgnu"
  },
  workflow_state: "active",
  created_at: "2020-12-01T16:20:00-06:00",
  last_updated_at: "2023-10-31T23:59:00-06:00",
  permissions: {
    read_reports: {
      enabled: true,
      locked: false,
      readonly: false,
      explicit: false
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\terms:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sis_term_id: "Sp2014",
  sis_import_id: 34,
  name: "Spring 2014",
  start_at: "2014-01-06T08:00:00-05:00",
  end_at: "2014-05-16T05:00:00-04:00",
  workflow_state: "active",
  overrides: {
    StudentEnrollment: {
      start_at: "2014-01-07T08:00:00-05:00",
      end_at: "2014-05-14T05:00:00-04:00"
    },
    TeacherEnrollment: {
      start_at: null,
      end_at: "2014-05-20T05:00:00-04:00"
    }
  },
  course_count: 80
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Terms only belong to root_accounts."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses\(course_id)\assignment_groups:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 15118870,
    name: "Assignments",
    position: 1,
    group_weight: 0,
    sis_source_id: null,
    integration_data: {},
    rules: {}
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses\(course_id)\assignment_groups\(assignment_group_id)\assignments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="assignment_group_id">attributes.uriParams.'assignment_group_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 12635863,
  name: "science",
  account_id: 81259,
  uuid: "aP94gB2vYO9wEL1l3J7sU3KseHxef3UUvDa6zfnb",
  start_at: null,
  grading_standard_id: null,
  is_public: false,
  created_at: "2025-08-19T10:48:34Z",
  course_code: "science",
  default_view: "modules",
  root_account_id: 10,
  enrollment_term_id: 1,
  license: null,
  grade_passback_setting: null,
  end_at: null,
  public_syllabus: false,
  public_syllabus_to_auth: false,
  storage_quota_mb: 500,
  is_public_to_auth_users: false,
  homeroom_course: false,
  course_color: null,
  friendly_name: null,
  hide_final_grades: false,
  apply_assignment_group_weights: false,
  calendar: {
    ics: "https://canvas.instructure.com/feeds/calendars/course_aP94gB2vYO9wEL1l3J7sU3KseHxef3UUvDa6zfnb.ics"
  },
  time_zone: "America/Denver",
  blueprint: false,
  template: false,
  sis_course_id: null,
  integration_id: null,
  enrollments: [
    {
      "type": "teacher",
      role: "TeacherEnrollment",
      role_id: 994,
      user_id: 118064555,
      enrollment_state: "active",
      limit_privileges_to_course_section: false
    }
  ],
  workflow_state: "unpublished",
  restrict_enrollments_to_course_dates: false
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses\(course_id)\assignments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 12635863,
  name: "science",
  account_id: 81259,
  uuid: "aP94gB2vYO9wEL1l3J7sU3KseHxef3UUvDa6zfnb",
  start_at: null,
  grading_standard_id: null,
  is_public: false,
  created_at: "2025-08-19T10:48:34Z",
  course_code: "science",
  default_view: "modules",
  root_account_id: 10,
  enrollment_term_id: 1,
  license: null,
  grade_passback_setting: null,
  end_at: null,
  public_syllabus: false,
  public_syllabus_to_auth: false,
  storage_quota_mb: 500,
  is_public_to_auth_users: false,
  homeroom_course: false,
  course_color: null,
  friendly_name: null,
  hide_final_grades: false,
  apply_assignment_group_weights: false,
  calendar: {
    ics: "https://canvas.instructure.com/feeds/calendars/course_aP94gB2vYO9wEL1l3J7sU3KseHxef3UUvDa6zfnb.ics"
  },
  time_zone: "America/Denver",
  blueprint: false,
  template: false,
  sis_course_id: null,
  integration_id: null,
  enrollments: [
    {
      "type": "teacher",
      role: "TeacherEnrollment",
      role_id: 994,
      user_id: 118064555,
      enrollment_state: "active",
      limit_privileges_to_course_section: false
    }
  ],
  workflow_state: "unpublished",
  restrict_enrollments_to_course_dates: false
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses\(course_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 120507116,
  user_id: 118064555,
  course_id: 12635863,
  section_id: 11949585,
  "type": "StudentEnrollment",
  role: "student",
  enrollment_state: "active",
  created_at: "2025-08-30T12:00:00Z",
  updated_at: "2025-08-31T14:00:00Z",
  last_activity_at: "2025-08-31T15:00:00Z",
  limit_privileges_to_course_section: false,
  sis_account_id: "abc123",
  sis_course_id: "course_sis_789",
  sis_section_id: "section_sis_456",
  sis_user_id: "user_sis_101"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses\(course_id)\students\submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    assignment_id: 100,
    user_id: 1,
    grade: "A",
    score: 95,
    attempt: 1,
    submitted_at: "2025-09-01T10:10:00Z"
  }, 
  {
    assignment_id: 101,
    user_id: 2,
    grade: "B+",
    score: 88,
    attempt: 2,
    submitted_at: "2025-09-02T11:00:00Z"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\sections\(section_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 120507116,
  user_id: 118064555,
  course_id: 12635863,
  section_id: 11949585,
  "type": "StudentEnrollment",
  role: "student",
  enrollment_state: "active",
  created_at: "2025-08-30T12:00:00Z",
  updated_at: "2025-08-31T14:00:00Z",
  last_activity_at: "2025-08-31T15:00:00Z",
  limit_privileges_to_course_section: false,
  sis_account_id: "abc123",
  sis_course_id: "course_sis_789",
  sis_section_id: "section_sis_456",
  sis_user_id: "user_sis_101"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\sections\(section_id)\students\submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    assignment_id: 100,
    user_id: 1,
    grade: "A",
    score: 95,
    attempt: 1,
    submitted_at: "2025-09-01T10:10:00Z"
  }, 
  {
    assignment_id: 101,
    user_id: 2,
    grade: "B+",
    score: 88,
    attempt: 2,
    submitted_at: "2025-09-02T11:00:00Z"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(user_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 120507116,
  user_id: 118064555,
  course_id: 12635863,
  section_id: 11949585,
  "type": "StudentEnrollment",
  role: "student",
  enrollment_state: "active",
  created_at: "2025-08-30T12:00:00Z",
  updated_at: "2025-08-31T14:00:00Z",
  last_activity_at: "2025-08-31T15:00:00Z",
  limit_privileges_to_course_section: false,
  sis_account_id: "abc123",
  sis_course_id: "course_sis_789",
  sis_section_id: "section_sis_456",
  sis_user_id: "user_sis_101"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts\(account_id)\bulk_enrollment:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  context_id: 1,
  context_type: "Account",
  user_id: 123,
  tag: "course_batch_update",
  completion: 100,
  workflow_state: "completed",
  created_at: "2013-01-15T15:00:00Z",
  updated_at: "2013-01-15T15:04:00Z",
  message: "17 courses processed",
  results: {
    id: "123"
  },
  url: "https://canvas.example.edu/api/v1/progress/1"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts\(account_id)\logins:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 98765,
  user_id: 123,
  unique_id: "112233445566",
  sis_user_id: null,
  integration_id: null,
  authentication_provider_id: "facebook",
  created_at: "2025-09-03T10:00:00Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts\(account_id)\terms:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 2026,
  name: "Spring 2026",
  start_at: "2026-01-10T08:00:00Z",
  end_at: "2026-05-20T23:59:00Z",
  created_at: "2025-09-03T12:30:00Z",
  sis_term_id: "SIS-TERM-2026",
  overrides: {
    StudentEnrollment: {
      start_at: "2026-01-15T08:00:00Z",
      end_at: "2026-05-15T23:59:00Z"
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\courses\(course_id)\enrollments:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  course_id: 1,
  sis_course_id: "SHEL93921",
  course_integration_id: "SHEL93921",
  course_section_id: 1,
  section_integration_id: "SHEL93921",
  sis_account_id: "SHEL93921",
  sis_section_id: "SHEL93921",
  sis_user_id: "SHEL93921",
  enrollment_state: "active",
  limit_privileges_to_course_section: true,
  sis_import_id: 83,
  root_account_id: 1,
  "type": "StudentEnrollment",
  user_id: 1,
  associated_user_id: null,
  role: "StudentEnrollment",
  role_id: 1,
  created_at: "2012-04-18T23:08:51Z",
  updated_at: "2012-04-18T23:08:51Z",
  start_at: "2012-04-18T23:08:51Z",
  end_at: "2012-04-18T23:08:51Z",
  last_activity_at: "2012-04-18T23:08:51Z",
  last_attended_at: "2012-04-18T23:08:51Z",
  total_activity_time: 260,
  html_url: "https://canvas.example.com/courses/1/enrollments/1",
  grades: {
    html_url: "https://canvas.example.com/courses/1/grades",
    current_score: 35,
    current_grade: null,
    final_score: 6.67,
    final_grade: null
  },
  user: {
    id: 3,
    name: "Student 1",
    sortable_name: "1, Student",
    short_name: "Stud 1"
  },
  override_grade: "A",
  override_score: 99.99,
  unposted_current_grade: "",
  unposted_final_grade: "",
  unposted_current_score: "",
  unposted_final_score: "",
  has_grading_periods: true,
  totals_for_all_grading_periods_option: true,
  current_grading_period_title: "Fall Grading Period",
  current_grading_period_id: 5,
  current_period_override_grade: "A",
  current_period_override_score: 99.99,
  current_period_unposted_current_score: 95.8,
  current_period_unposted_final_score: 85.25,
  current_period_unposted_current_grade: "A",
  current_period_unposted_final_grade: "B"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\sections\(section_id)\enrollments:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  course_id: 1,
  sis_course_id: "SHEL93921",
  course_integration_id: "SHEL93921",
  course_section_id: 1,
  section_integration_id: "SHEL93921",
  sis_account_id: "SHEL93921",
  sis_section_id: "SHEL93921",
  sis_user_id: "SHEL93921",
  enrollment_state: "active",
  limit_privileges_to_course_section: true,
  sis_import_id: 83,
  root_account_id: 1,
  "type": "StudentEnrollment",
  user_id: 1,
  associated_user_id: null,
  role: "StudentEnrollment",
  role_id: 1,
  created_at: "2012-04-18T23:08:51Z",
  updated_at: "2012-04-18T23:08:51Z",
  start_at: "2012-04-18T23:08:51Z",
  end_at: "2012-04-18T23:08:51Z",
  last_activity_at: "2012-04-18T23:08:51Z",
  last_attended_at: "2012-04-18T23:08:51Z",
  total_activity_time: 260,
  html_url: "https://canvas.example.com/courses/1/enrollments/1",
  grades: {
    html_url: "https://canvas.example.com/courses/1/grades",
    current_score: 35,
    current_grade: null,
    final_score: 6.67,
    final_grade: null
  },
  user: {
    id: 3,
    name: "Student 1",
    sortable_name: "1, Student",
    short_name: "Stud 1"
  },
  override_grade: "A",
  override_score: 99.99,
  unposted_current_grade: "",
  unposted_final_grade: "",
  unposted_current_score: "",
  unposted_final_score: "",
  has_grading_periods: true,
  totals_for_all_grading_periods_option: true,
  current_grading_period_title: "Fall Grading Period",
  current_grading_period_id: 5,
  current_period_override_grade: "A",
  current_period_override_score: 99.99,
  current_period_unposted_current_score: 95.8,
  current_period_unposted_final_score: 85.25,
  current_period_unposted_current_grade: "A",
  current_period_unposted_final_grade: "B"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
