src/main/mule/canvas-lms-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:canvas="http://www.mulesoft.org/schema/mule/canvas" xmlns:canvaslms="http://www.mulesoft.org/schema/mule/canvaslms" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/canvaslms http://www.mulesoft.org/schema/mule/canvaslms/current/mule-canvaslms.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/canvas http://www.mulesoft.org/schema/mule/canvas/current/mule-canvas.xsd">
    <flow name="canvas-lms-api-main">
        <http:listener config-ref="canvas-lms-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="canvas-lms-api-config" />
        <error-handler ref="Global-Error-Handler" />
    </flow>
    <flow name="canvas-lms-api-console">
        <http:listener config-ref="canvas-lms-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="canvas-lms-api-config" />
        <error-handler ref="Global-Error-Handler" />
    </flow>
    <flow name="put:\courses\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="9949cd55-f6b6-4c96-b99f-35c2b64c0dac" config-ref="canvas-lms-api-httpListenerConfig" path="/courses/{id}">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-courses-id doc:name="Course - Update a course" doc:id="5ef5ce9e-4b09-489c-9a4c-86e25975a925" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\sections\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-sections-id doc:name="Section - Edit a section" doc:id="97db6289-387c-4b2a-a0f4-31d7455913bd" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\users\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-users-id doc:name="User - Edit a user" doc:id="6a82d831-265a-4036-bab2-8290c37683f8" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\courses\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-courses-id doc:name="Course - Delete/Conclude a course" doc:id="2e185e35-bffa-4ad6-972d-f986ee55fe8e" config-ref="Canvas_Config" idUriParam="#[vars.id]" eventQueryParam="#[attributes.queryParams.event default &quot;conclude&quot;]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\sections\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-sections-id doc:name="Section - Delete a section" doc:id="4d938bf6-bf29-42dd-ab45-3ca718f1aae9" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\sections\(id)\crosslist:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-sections-id-crosslist doc:name="Section - De-cross-list a section" doc:id="ecccf39a-f939-4bc4-b4c5-5ce82bcb5036" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\users:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-users doc:name="User - List users in account" doc:id="5a6fc3bd-94d6-4ec9-a503-415a9736eb89" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\bulk_user_progress:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-bulk-user-progress doc:name="Course - Get bulk user progress" doc:id="15ca92e3-2289-4517-903b-f4bc59e604c3" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\search_users:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-search-users doc:name="Course - List users in course" doc:id="37c463b1-d290-4535-873d-c9ce2b4efed2" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\sections:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="e1674a6d-0e2f-4b2e-8199-f706f1b5bd68" config-ref="canvas-lms-api-httpListenerConfig" path="/courses/{course_id}/sections">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-sections doc:name="Section - List course sections" doc:id="07ac8da6-5851-4c22-be31-b01b71dd2a89" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\sections\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-sections-id doc:name="Section - Get section information" doc:id="9833b463-3630-4ee5-bb0e-8b697e1c9ebe" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\users\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-users-id doc:name="Course - Get single user" doc:id="e1d51fc0-faf8-4f90-9214-5c8c17764a52" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\users\(user_id)\progress:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-users-user-id-progress doc:name="Course - Get user progress" doc:id="99e09fef-2990-4679-8fc9-ae0297a3958e" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" userIdUriParam="#[vars.user_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-id doc:name="Course - Get a single course" doc:id="deb041f8-e414-4ae1-bc77-65862bc95445" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\self\upcoming_events:canvas-lms-api-config">
        <canvas:get-users-self-upcoming-events doc:name="User - List upcoming assignments, calendar events" doc:id="fcd6ed5a-1b24-49a5-b53f-67e78e90ceda" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-id doc:name="User - Show user details" doc:id="a8f9d602-8dc1-4cb0-8844-e98f017e0270" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(user_id)\courses:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="142aadf9-9ddb-4289-b95e-fe75b7831559" config-ref="canvas-lms-api-httpListenerConfig" path="/users/{user_id}/courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-courses doc:name="Course - List courses for a user" doc:id="4c593d63-7a66-4eae-8b75-d2e39855d2a1" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(user_id)\missing_submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-missing-submissions doc:name="User - List Missing Submissions" doc:id="816c58f4-b7b9-498d-9229-1a8cb19aa6a0" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" includeQueryParam="COURSE" filterQueryParam="SUBMITTABLE" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\courses:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="d2319e34-3dcb-42a5-a3a8-80c25c2b8993" config-ref="canvas-lms-api-httpListenerConfig" path="/accounts/{account_id}/courses" />
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-courses doc:name="Course - Create a new course" doc:id="c4731fd4-f0b6-44e8-93c9-f5bed5cab41f" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\users:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-users doc:name="User - Create a user" doc:id="7bbcf6fc-df5e-4db4-81cf-b657aa0b1f33" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\courses\(course_id)\sections:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-courses-course-id-sections doc:name="Section - Create course section" doc:id="480c38c7-5104-4432-aefa-7978ea660d2b" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\sections\(id)\crosslist\(new_course_id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="new_course_id">attributes.uriParams.'new_course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-sections-id-crosslist-new-course-id doc:name="Section - Cross-list a section" doc:id="0930fa2a-c9e4-4e4a-8353-719b06c2ef5c" config-ref="Canvas_Config" idUriParam="#[vars.id]" newCourseIdUriParam="#[vars.new_course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts:canvas-lms-api-config">
        <canvas:get-accounts doc:name="Account - List accounts" doc:id="5d038685-2f5f-40c2-acd6-36bc5835fd47" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\sub_accounts:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-sub-accounts doc:name="Account - Get the sub-accounts of an account" doc:id="b3ab7ef9-6190-45f8-bd78-ecb16dde00a5" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-id doc:name="Account - Get a single account" doc:id="db0c48a7-8c13-49f7-a72a-cfcac34a9d93" config-ref="Canvas_Config" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="useflow" doc:id="808178ef-bcc9-4816-b734-b649724f78a9">
        <http:listener doc:name="Listener" doc:id="ba0a5746-0cda-42e4-8d0f-f4e336ef1c9b" config-ref="canvas-lms-api-httpListenerConfig" path="/v1/users/{user_id}/courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="1d8437fe-9a88-4293-ad1a-4298baf1bf1a">
            <ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-courses doc:name="Course - List courses for a user" doc:id="7fee2a99-f891-4cdb-9f7e-cd6faf78ee3d" config-ref="Canvas_Config" userIdUriParam="11806455&amp;&amp;5" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="put:\accounts\(account_id)\logins\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-accounts-account-id-logins-id doc:name="Login - Edit a user login" doc:id="daba1f3f-a72e-4bdb-8ea9-39700d7a14da" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" idUriParam="#[vars.id]" />
    </flow>
    <flow name="put:\accounts\(account_id)\terms\(id):application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-accounts-account-id-terms-id doc:name="Enrollment Terms - Update enrollment term" doc:id="02f73a0c-e7d4-4a00-9af0-4f8716e9a07f" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" idUriParam="#[vars.id]" />
    </flow>
    <flow name="put:\courses\(course_id)\enrollments\(id)\reactivate:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:put-courses-course-id-enrollments-id-reactivate doc:name="Enrollment - Reactivate an enrollment" doc:id="c4b55cbf-c0fa-43c0-8ca6-f14ba3dc18c5" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" />
    </flow>
    <flow name="delete:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-accounts-account-id-terms-id doc:name="Enrollment Terms - Delete enrollment term" doc:id="4270209e-b32e-430c-8cfd-1ab36598ac70" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\courses\(course_id)\enrollments\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-courses-course-id-enrollments-id doc:name="Enrollment - Conclude, deactivate, or delete an enrollment" doc:id="b98793f1-1f39-4fc8-8538-b1782c060603" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="delete:\users\(user_id)\logins\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:delete-users-user-id-logins-id doc:name="Login - Delete a user login" doc:id="055ffe6d-ec1f-474f-9a07-676282fc504b" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\courses:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-courses doc:name="Account - List active courses in an account" doc:id="12bc9fc5-0c9a-4413-92a7-3c7a682a3a75" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\enrollments\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-enrollments-id doc:name="Enrollment - Get enrollment by ID" doc:id="e84ce50a-90c6-4cfb-844b-cee5ea49e734" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\roles:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-roles doc:name="Roles - List roles" doc:id="12c889f3-01d7-40b9-8683-b76086fe5e2e" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" accountIdUriParam="#[vars.account_id]" />
    </flow>
    <flow name="get:\accounts\(account_id)\roles\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-roles-id doc:name="Roles - Get a single role" doc:id="c3cfe15e-5cbc-4419-8530-700602328e40" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\terms:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-terms doc:name="Enrollment Terms - List enrollment terms" doc:id="37fab65e-f44b-40b2-be57-b0d0c3a53801" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-accounts-account-id-terms-id doc:name="Enrollment Terms - Retrieve enrollment term" doc:id="6e1c283d-ecdc-472e-9b22-e035a96af836" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" idUriParam="#[vars.id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\assignment_groups:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-assignment-groups doc:name="Assignment Groups - List assignment groups" doc:id="0f28d1cd-e66c-422a-b4bf-35516c40cecb" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\assignment_groups\(assignment_group_id)\assignments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="assignment_group_id">attributes.uriParams.'assignment_group_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-assignment-groups-assignment-group-id-assignments doc:name="Assignment - List assignments by assignment groups" doc:id="41b45794-d9de-4636-93f0-c3855599bbe4" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" assignmentGroupIdUriParam="#[vars.assignment_group_id]" />
    </flow>
    <flow name="get:\courses\(course_id)\assignments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-assignments doc:name="Assignment - List assignments" doc:id="18a8914b-f4a9-4787-8fcd-c80fd7290e17" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\courses\(course_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-enrollments doc:name="Enrollment - List course enrollments" doc:id="0ac5b975-82c0-477e-8440-c6d45ed86de6" config-ref="Canvas_Config" correlationIdHeader="#[correlationId]" courseIdUriParam="#[vars.course_id]" />
    </flow>
    <flow name="get:\courses\(course_id)\students\submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-courses-course-id-students-submissions doc:name="Submission - List submissions for multiple assignments" doc:id="feef3cdb-e456-4154-99f9-571a8eb16cde" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" groupedQueryParam="#[(isEmpty(attributes.queryParams.grouped))]" postToSisQueryParam="#[(isEmpty(attributes.queryParams.post_to_sis))]" stateBasedOnDateQueryParam="#[(isEmpty(attributes.queryParams.state_based_on_date))]"/>
    </flow>
    <flow name="get:\sections\(section_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-sections-section-id-enrollments doc:name="Enrollment - List section enrollments" doc:id="dc6d0829-e3ea-4483-8ff7-c8bd66fc7e78" config-ref="Canvas_Config" sectionIdUriParam="#[vars.section_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\sections\(section_id)\students\submissions:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-sections-section-id-students-submissions doc:name="Submission - List submissions from course section" doc:id="0a3cee5a-4a13-4ae6-8ce4-8d0cdf2d50c7" config-ref="Canvas_Config" sectionIdUriParam="#[vars.section_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="get:\users\(user_id)\enrollments:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:get-users-user-id-enrollments doc:name="Enrollment - List enrollments of a user" doc:id="06c8a001-d407-44da-8b61-061cad0739cb" config-ref="Canvas_Config" userIdUriParam="#[vars.user_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\bulk_enrollment:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-bulk-enrollment doc:name="Enrollment - Enroll multiple users to one or more courses" doc:id="2ebdcc84-d41c-4304-b0bc-b452afbc8de0" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\logins:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-logins doc:name="Login - Create a user login" doc:id="0f81eb39-3854-4235-9755-2f0ef0670b43" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\accounts\(account_id)\terms:application\json:canvas-lms-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-accounts-account-id-terms doc:name="Enrollment Terms - Create enrollment term" doc:id="19631b60-76e1-4f13-9c8b-b14db53984d9" config-ref="Canvas_Config" accountIdUriParam="#[vars.account_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\courses\(course_id)\enrollments:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="7c2d33d8-98d2-4cf8-920b-6554c317a4df" config-ref="canvas-lms-api-httpListenerConfig" path="/courses/{course_id}/enrollments">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-courses-course-id-enrollments doc:name="Enrollment - Enroll a user in a course" doc:id="62396ce1-1ace-48a8-a997-b4e7b4509a34" config-ref="Canvas_Config" courseIdUriParam="#[vars.course_id]" correlationIdHeader="#[correlationId]" />
    </flow>
    <flow name="post:\sections\(section_id)\enrollments:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="c4213bb6-df19-4742-aec3-57c07e92151d" config-ref="canvas-lms-api-httpListenerConfig" path="/sections/{section_id}/enrollments">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <canvas:post-sections-section-id-enrollments doc:name="Enrollment - Enroll a user in a section" doc:id="97b69248-37f1-49f3-8cab-52225c1a1546" config-ref="Canvas_Config" sectionIdUriParam="#[vars.section_id]" correlationIdHeader="#[correlationId]" />
    </flow>
</mule>
